<a href="https://colab.research.google.com/github/jcherrryb/jcherrryb/blob/main/Data_Imputation_(Zero).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LOAD DATASET & IMPORT LIBRARIES**

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('notime_weather.csv')
df2 = pd.read_csv('transport_ridership.csv')

In [ ]:
merged_df = pd.merge(df1, df2, on='date', how='inner')

In [ ]:
print(merged_df.head())

        date                 place            city         state  temperature  \
0  1/01/2022           Bukit Jalil    Kuala Lumpur  Kuala Lumpur         25.1
1  1/01/2022           Hulu Langat          Kajang      Selangor         23.4
2  1/01/2022  Bandar Saujana Utama  Kuala Selangor      Selangor         24.2
3  1/01/2022           Hulu Langat          Kajang      Selangor         23.3
4  1/01/2022           Bukit Jalil    Kuala Lumpur  Kuala Lumpur         25.3

   pressure  dew_point  humidity  wind_speed  gust  ...  rail_lrt_ampang  \
0  1013.880       25.0      99.0         0.0   0.0  ...            71002
1   999.880       23.2      99.0        10.1  10.1  ...            71002
2  1015.410       24.0      99.0         0.0   0.0  ...            71002
3   999.935       23.2      99.0        10.1  10.1  ...            71002
4  1014.050       25.1      99.0         0.0   0.0  ...            71002

   rail_mrt_kajang  rail_lrt_kj  rail_monorail  rail_mrt_pjy  rail_ets  \
0            76294        84319          25112           NaN      5789
1            76294        84319          25112           NaN      5789
2            76294        84319          25112           NaN      5789
3            76294        84319          25112           NaN      5789
4            76294        84319          25112           NaN      5789

   rail_intercity  rail_komuter_utara  rail_tebrau  rail_komuter
0            1668                7744          NaN           NaN
1            1668                7744          NaN           NaN
2            1668                7744          NaN           NaN
3            1668                7744          NaN           NaN
4            1668                7744          NaN           NaN

[5 rows x 31 columns]

In [ ]:
merged_df.head()

,date,place,city,state,temperature,pressure,dew_point,humidity,wind_speed,gust,...,rail_lrt_ampang,rail_mrt_kajang,rail_lrt_kj,rail_monorail,rail_mrt_pjy,rail_ets,rail_intercity,rail_komuter_utara,rail_tebrau,rail_komuter
0,1/01/2022,Bukit Jalil,Kuala Lumpur,Kuala Lumpur,25.1,1013.880,25.0,99.0,0.0,0.0,...,71002,76294,84319,25112,NaN,5789,1668,7744,NaN,NaN
1,1/01/2022,Hulu Langat,Kajang,Selangor,23.4,999.880,23.2,99.0,10.1,10.1,...,71002,76294,84319,25112,NaN,5789,1668,7744,NaN,NaN
2,1/01/2022,Bandar Saujana Utama,Kuala Selangor,Selangor,24.2,1015.410,24.0,99.0,0.0,0.0,...,71002,76294,84319,25112,NaN,5789,1668,7744,NaN,NaN
3,1/01/2022,Hulu Langat,Kajang,Selangor,23.3,999.935,23.2,99.0,10.1,10.1,...,71002,76294,84319,25112,NaN,5789,1668,7744,NaN,NaN
4,1/01/2022,Bukit Jalil,Kuala Lumpur,Kuala Lumpur,25.3,1014.050,25.1,99.0,0.0,0.0,...,71002,76294,84319,25112,NaN,5789,1668,7744,NaN,NaN

In [ ]:
merged_df.tail()

,date,place,city,state,temperature,pressure,dew_point,humidity,wind_speed,gust,...,rail_lrt_ampang,rail_mrt_kajang,rail_lrt_kj,rail_monorail,rail_mrt_pjy,rail_ets,rail_intercity,rail_komuter_utara,rail_tebrau,rail_komuter
256555,22/10/2024,Jalan Ayer Hitam,Sepang,Kuala Lumpur,29.2,1015.425,25.8,82.0,0.0,0.0,...,209169,266313,288022,56816,165355.0,7793,2249,10003,7516.0,34829.0
256556,22/10/2024,Bukit Jalil,Kuala Lumpur,Kuala Lumpur,29.7,1010.500,25.2,77.0,2.5,6.5,...,209169,266313,288022,56816,165355.0,7793,2249,10003,7516.0,34829.0
256557,22/10/2024,Bukit Jalil,Kuala Lumpur,Kuala Lumpur,29.8,1010.550,25.2,76.8,4.8,8.4,...,209169,266313,288022,56816,165355.0,7793,2249,10003,7516.0,34829.0
256558,22/10/2024,Jalan Ayer Hitam,Sepang,Kuala Lumpur,29.4,1015.240,25.8,81.0,0.8,1.7,...,209169,266313,288022,56816,165355.0,7793,2249,10003,7516.0,34829.0
256559,22/10/2024,Gita Bayu,Balakong,Selangor,28.5,NaN,25.1,82.0,0.0,0.0,...,209169,266313,288022,56816,165355.0,7793,2249,10003,7516.0,34829.0

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256560 entries, 0 to 256559
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date                    256560 non-null  object
 1   place                   256560 non-null  object
 2   city                    256560 non-null  object
 3   state                   256560 non-null  object
 4   temperature             236800 non-null  float64
 5   pressure                221129 non-null  float64
 6   dew_point               230550 non-null  float64
 7   humidity                237067 non-null  float64
 8   wind_speed              216877 non-null  float64
 9   gust                    220491 non-null  float64
 10  wind_chill              236745 non-null  float64
 11  uv_index                188105 non-null  float64
 12  feels_like_temperature  3796 non-null    float64
 13  visibility              3797 non-null    float64
 14  solar_radiation         186275 non-null  float64
 15  pollutant_value         10390 non-null   float64
 16  precipitation_rate      239588 non-null  float64
 17  precipitation_total     239587 non-null  float64
 18  bus_rkl                 256560 non-null  int64
 19  bus_rkn                 256560 non-null  int64
 20  bus_rpn                 256560 non-null  int64
 21  rail_lrt_ampang         256560 non-null  int64
 22  rail_mrt_kajang         256560 non-null  int64
 23  rail_lrt_kj             256560 non-null  int64
 24  rail_monorail           256560 non-null  int64
 25  rail_mrt_pjy            221787 non-null  float64
 26  rail_ets                256560 non-null  int64
 27  rail_intercity          256560 non-null  int64
 28  rail_komuter_utara      256560 non-null  int64
 29  rail_tebrau             221098 non-null  float64
 30  rail_komuter            104891 non-null  float64
dtypes: float64(17), int64(10), object(4)
memory usage: 60.7+ MB

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256560 entries, 0 to 256559
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date                    256560 non-null  object
 1   place                   256560 non-null  object
 2   city                    256560 non-null  object
 3   state                   256560 non-null  object
 4   temperature             236800 non-null  float64
 5   pressure                221129 non-null  float64
 6   dew_point               230550 non-null  float64
 7   humidity                237067 non-null  float64
 8   wind_speed              216877 non-null  float64
 9   gust                    220491 non-null  float64
 10  wind_chill              236745 non-null  float64
 11  uv_index                188105 non-null  float64
 12  feels_like_temperature  3796 non-null    float64
 13  visibility              3797 non-null    float64
 14  solar_radiation         186275 non-null  float64
 15  pollutant_value         10390 non-null   float64
 16  precipitation_rate      239588 non-null  float64
 17  precipitation_total     239587 non-null  float64
 18  bus_rkl                 256560 non-null  int64
 19  bus_rkn                 256560 non-null  int64
 20  bus_rpn                 256560 non-null  int64
 21  rail_lrt_ampang         256560 non-null  int64
 22  rail_mrt_kajang         256560 non-null  int64
 23  rail_lrt_kj             256560 non-null  int64
 24  rail_monorail           256560 non-null  int64
 25  rail_mrt_pjy            221787 non-null  float64
 26  rail_ets                256560 non-null  int64
 27  rail_intercity          256560 non-null  int64
 28  rail_komuter_utara      256560 non-null  int64
 29  rail_tebrau             221098 non-null  float64
 30  rail_komuter            104891 non-null  float64
dtypes: float64(17), int64(10), object(4)
memory usage: 60.7+ MB

# **DATA EXPLORATION**

In [ ]:
print(merged_df.isnull().sum())

date                           0
place                          0
city                           0
state                          0
temperature                19760
pressure                   35431
dew_point                  26010
humidity                   19493
wind_speed                 39683
gust                       36069
wind_chill                 19815
uv_index                   68455
feels_like_temperature    252764
visibility                252763
solar_radiation            70285
pollutant_value           246170
precipitation_rate         16972
precipitation_total        16973
bus_rkl                        0
bus_rkn                        0
bus_rpn                        0
rail_lrt_ampang                0
rail_mrt_kajang                0
rail_lrt_kj                    0
rail_monorail                  0
rail_mrt_pjy               34773
rail_ets                       0
rail_intercity                 0
rail_komuter_utara             0
rail_tebrau                35462
rail_komuter              151669
dtype: int64

In [ ]:
#Describe dataset statistics
merged_df.describe()

,temperature,pressure,dew_point,humidity,wind_speed,gust,wind_chill,uv_index,feels_like_temperature,visibility,...,rail_lrt_ampang,rail_mrt_kajang,rail_lrt_kj,rail_monorail,rail_mrt_pjy,rail_ets,rail_intercity,rail_komuter_utara,rail_tebrau,rail_komuter
count,236800.000000,221129.000000,230550.000000,237067.000000,216877.000000,220491.000000,236745.000000,188105.000000,3796.000000,3797.000000,...,256560.000000,256560.000000,256560.000000,256560.000000,221787.000000,256560.000000,256560.000000,256560.000000,221098.000000,104891.000000
mean,27.957761,1011.326476,24.529569,81.377527,1.580265,2.353549,27.957205,1.255108,31.247366,8.576244,...,143452.156727,178241.137952,194627.672696,44728.242477,86310.783590,10625.465817,3595.401208,10914.923651,8401.726004,35547.167145
std,3.342776,5.103239,1.815595,18.122360,2.798750,3.703085,3.342975,2.327068,4.822398,1.185304,...,37705.280728,55616.365986,62580.002802,12901.019720,49713.937563,2268.834914,1536.316255,3102.914388,984.028912,6891.901420
min,3.300000,932.950000,2.700000,0.000000,0.000000,0.000000,3.300000,0.000000,22.000000,1.000000,...,50285.000000,43445.000000,18080.000000,9974.000000,12108.000000,2995.000000,594.000000,3925.000000,4348.000000,20236.000000
25%,25.300000,1008.940000,23.600000,71.600000,0.000000,0.000000,25.300000,0.000000,28.000000,9.000000,...,112249.000000,136589.000000,136265.000000,36271.000000,25299.000000,9382.000000,2244.000000,8834.000000,7959.000000,30219.000000
50%,27.200000,1012.075000,24.500000,86.000000,0.500000,1.100000,27.200000,0.000000,31.000000,9.000000,...,149656.000000,178844.000000,207724.000000,48589.000000,93213.000000,11233.000000,3538.000000,10923.000000,8500.000000,36964.000000
75%,30.400000,1014.680000,25.500000,96.000000,2.000000,3.100000,30.400000,1.000000,35.000000,9.000000,...,165275.000000,221001.000000,249761.000000,55096.000000,129116.000000,12160.000000,4784.000000,13147.000000,9087.000000,38693.000000
max,41.700000,1029.985000,32.200000,100.000000,35.000000,54.000000,44.600000,15.000000,43.000000,9.000000,...,250614.000000,280817.000000,298753.000000,79585.000000,168688.000000,14584.000000,7648.000000,20495.000000,10036.000000,89320.000000

In [ ]:
nominal_summary = merged_df.describe(include=['object'])
print(nominal_summary)

             date        place          city     state
count      256560       256560        256560    256560
unique       1026           32            13         3
top     5/09/2023  Bukit Jalil  Kuala Lumpur  Selangor
freq          360        16584         76786    128233

In [ ]:
#Check if pandas is installed
!pip install pandas

#Import pandas module
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
#Use the isnull() function to count missing values
missing_values = merged_df.isnull().sum()

In [ ]:
#Print the missing values
print("\Missing Values:\n", missing_values)

\Missing Values:
 date                           0
place                          0
city                           0
state                          0
temperature                19760
pressure                   35431
dew_point                  26010
humidity                   19493
wind_speed                 39683
gust                       36069
wind_chill                 19815
uv_index                   68455
feels_like_temperature    252764
visibility                252763
solar_radiation            70285
pollutant_value           246170
precipitation_rate         16972
precipitation_total        16973
bus_rkl                        0
bus_rkn                        0
bus_rpn                        0
rail_lrt_ampang                0
rail_mrt_kajang                0
rail_lrt_kj                    0
rail_monorail                  0
rail_mrt_pjy               34773
rail_ets                       0
rail_intercity                 0
rail_komuter_utara             0
rail_tebrau                35462
rail_komuter              151669
dtype: int64

# **DATA IMPUTATION**

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('notime_weather.csv')
df2 = pd.read_csv('transport_ridership.csv')
merged_df = pd.merge(df1, df2, on='date', how='inner')

In [ ]:
#Drop irrelevant weather columns (adjust based on your data)
columns_to_drop = [
    'pressure', 'dew_point', 'gust',
    'wind_chill', 'uv_index', 'humidity', 'wind_speed',
    'visibility', 'pollutant_value', 'precipitation_rate', 'feels_like_temperature',
    'bus_rkn', 'bus_rpn', 'rail_ets', 'rail_intercity', 'rail_komuter_utara', 'rail_tebrau',
    'rail_komuter'
]
merged_df = merged_df.drop(columns=columns_to_drop, errors='ignore')

In [ ]:
#Rename Weather Columns for Simplicity ===
merged_df = merged_df.rename(columns={
    'temperature': 'hotness',
    'solar_radiation': 'sunlight',
    'precipitation_total': 'rain'
})

In [ ]:
#Print the missing values
print("\Missing Values:\n", missing_values)

\Missing Values:
 date                           0
place                          0
city                           0
state                          0
temperature                19760
pressure                   35431
dew_point                  26010
humidity                   19493
wind_speed                 39683
gust                       36069
wind_chill                 19815
uv_index                   68455
feels_like_temperature    252764
visibility                252763
solar_radiation            70285
pollutant_value           246170
precipitation_rate         16972
precipitation_total        16973
bus_rkl                        0
bus_rkn                        0
bus_rpn                        0
rail_lrt_ampang                0
rail_mrt_kajang                0
rail_lrt_kj                    0
rail_monorail                  0
rail_mrt_pjy               34773
rail_ets                       0
rail_intercity                 0
rail_komuter_utara             0
rail_tebrau                35462
rail_komuter              151669
dtype: int64

In [ ]:
#Impute Missing Values
#Numerical columns
num_cols = ['hotness', 'sunlight', 'rain']
for col in num_cols:
    if col in merged_df.columns:
        merged_df[col] = merged_df[col].fillna(merged_df[col].median())

#Categorical columns
if 'station' in merged_df.columns:
    merged_df['station'] = merged_df['station'].fillna(merged_df['station'].mode()[0])

In [ ]:
#List of important columns
important_cols = [
    'place', 'city', 'state']

#List of transport ridership columns
ridership_cols = [
    'bus_rkl',
    'rail_lrt_ampang', 'rail_mrt_kajang', 'rail_lrt_kj',
    'rail_monorail', 'rail_mrt_pjy'
]

#Fill missing ridership values with 0 (the transport didn't start the operation yet)
for col in ridership_cols:
    if col in merged_df.columns:
        merged_df[col] = merged_df[col].fillna(0).astype(int)

In [ ]:
#Final Check
print("Missing values (after cleaning + imputing):")
print(merged_df.isnull().sum())

Missing values (after cleaning + imputing):
date               0
place              0
city               0
state              0
hotness            0
sunlight           0
rain               0
bus_rkl            0
rail_lrt_ampang    0
rail_mrt_kajang    0
rail_lrt_kj        0
rail_monorail      0
rail_mrt_pjy       0
dtype: int64

In [ ]:
print(merged_df.head())

        date                 place            city         state  hotness  \
0  1/01/2022           Bukit Jalil    Kuala Lumpur  Kuala Lumpur     25.1
1  1/01/2022           Hulu Langat          Kajang      Selangor     23.4
2  1/01/2022  Bandar Saujana Utama  Kuala Selangor      Selangor     24.2
3  1/01/2022           Hulu Langat          Kajang      Selangor     23.3
4  1/01/2022           Bukit Jalil    Kuala Lumpur  Kuala Lumpur     25.3

   sunlight  rain  bus_rkl  rail_lrt_ampang  rail_mrt_kajang  rail_lrt_kj  \
0       0.0   0.0    84122            71002            76294        84319
1       0.0   0.0    84122            71002            76294        84319
2       0.0   0.0    84122            71002            76294        84319
3       0.0   0.0    84122            71002            76294        84319
4       0.0   0.0    84122            71002            76294        84319

   rail_monorail  rail_mrt_pjy
0          25112             0
1          25112             0
2          25112             0
3          25112             0
4          25112             0

In [ ]:
#Display DataFrame info after cleaning and imputing
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256560 entries, 0 to 256559
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             256560 non-null  object
 1   place            256560 non-null  object
 2   city             256560 non-null  object
 3   state            256560 non-null  object
 4   hotness          256560 non-null  float64
 5   sunlight         256560 non-null  float64
 6   rain             256560 non-null  float64
 7   bus_rkl          256560 non-null  int64
 8   rail_lrt_ampang  256560 non-null  int64
 9   rail_mrt_kajang  256560 non-null  int64
 10  rail_lrt_kj      256560 non-null  int64
 11  rail_monorail    256560 non-null  int64
 12  rail_mrt_pjy     256560 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 25.4+ MB

In [ ]:
list(merged_df.columns)

['date',
 'place',
 'city',
 'state',
 'hotness',
 'sunlight',
 'rain',
 'bus_rkl',
 'rail_lrt_ampang',
 'rail_mrt_kajang',
 'rail_lrt_kj',
 'rail_monorail',
 'rail_mrt_pjy']

In [ ]:
print(merged_df['date'].dtype)

object

In [ ]:
merged_df['date'] = pd.to_datetime(merged_df['date'], dayfirst=True)  #Use dayfirst if your format is DD/MM/YYYY

In [ ]:
print(merged_df['date'].dtype)

datetime64[ns]

In [ ]:
merged_df.to_csv("new_merged_zero.csv", index=False)

In [ ]:
print(merged_df.head())

        date                 place            city         state  hotness  \
0 2022-01-01           Bukit Jalil    Kuala Lumpur  Kuala Lumpur     25.1
1 2022-01-01           Hulu Langat          Kajang      Selangor     23.4
2 2022-01-01  Bandar Saujana Utama  Kuala Selangor      Selangor     24.2
3 2022-01-01           Hulu Langat          Kajang      Selangor     23.3
4 2022-01-01           Bukit Jalil    Kuala Lumpur  Kuala Lumpur     25.3

   sunlight  rain  bus_rkl  rail_lrt_ampang  rail_mrt_kajang  rail_lrt_kj  \
0       0.0   0.0    84122            71002            76294        84319
1       0.0   0.0    84122            71002            76294        84319
2       0.0   0.0    84122            71002            76294        84319
3       0.0   0.0    84122            71002            76294        84319
4       0.0   0.0    84122            71002            76294        84319

   rail_monorail  rail_mrt_pjy
0          25112             0
1          25112             0
2          25112             0
3          25112             0
4          25112             0

In [ ]:
merged_df = pd.DataFrame(merged_df)
print(merged_df.dtypes)

date               datetime64[ns]
place                      object
city                       object
state                      object
hotness                   float64
sunlight                  float64
rain                      float64
bus_rkl                     int64
rail_lrt_ampang             int64
rail_mrt_kajang             int64
rail_lrt_kj                 int64
rail_monorail               int64
rail_mrt_pjy                int64
dtype: object

In [ ]:
!pip install tensorflow scikit-learn matplotlib pandas

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/dist-packages (2.18.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (5.29.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.13.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.71.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.13.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.0.9)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.4.26)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.8)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

In [ ]:
df = pd.read_csv("new_merged_zero.csv")